body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#auction-container {
    display: flex;
    max-width: 1200px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#item-image {
    flex: 1;
    padding: 20px;
    margin-top: 80px;
}

#item-details {
    flex: 1;
    padding: 20px;
}

#first-row{
    display: flex;
    margin-top: 20px;
}

#item-name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

#time-remaining {
    font-size: 16px;
    color: #ff0000;
    margin-top: 20px;
}

#seller-name {
    font-size: 22px;
    margin-top: 20px;
}

#category-name {
    font-size: 22px;
    margin-top: 20px;
}

#item-description {
    font-size: 18px;
    margin-top: 20px;
}

#leading-offer {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 80px;
    max-width: 400px;
    font-weight: bold;
}

#current-winner {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 90px;
}

#offer-label {
    font-size: 20px;
    font-weight: bold;
}

#offer-row{
    display: flex;
    margin-top: 60px;
}

#bid-input{
    margin-left: 30px;
    height: 25px;
    width: 100px;
}

#bid-button {
    margin-left: 20px;
    height: 30px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#condition{
    font-size: 16px;
    margin-top: 30px;
}

#winner-row{
    display: flex;
    align-content: center;
    margin-top: 60px;
}