body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .leadingHome{
    font-size: 15px;
  }

  .deadlineHome{
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .username{
    background-color: #04AA6D;
  }

  .register{
    background-color: #006A4E;
  }

  .logout{
    background-color: #AA0000;
  }

  .titolo {
    text-align: center;
  }

  /* AUCTIONS CSS  */
  
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
}
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
.text {
  padding: 0 20px 20px;
}
.redirect {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

  #create-row{
    display: flex;
  }