.titleOffers{
  margin-left: 680px;
}

.objectOffers {
    display: inline-block;
    margin-left: 10 px;
    width: 150px;
  }

.betOffers {
display: inline-block;
margin-left: 10px;
width: 180px;
}

.winnerOffers {
    display: inline-block;
    margin-left: 10px;
    width: 180px;
}

.deadlineOffers {
color: red;
display: inline-block;
margin-left: 40px;
width: 200px;
text-align: center;
}

.redirectButtonOffers {
  margin-left: 40px;
  background: gray;
  border: 0;
  color: white;
  height: 30px;
}